@import url('https://fonts.googleapis.com/css?family=Montserrat');

h3 {
  margin: 10px 0;
  color: white;
}

h6 {
  margin: 5px 0;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  line-height: 21px;
}

.abc {
  display: flex;
}

.editProfile {
  height: 3vh;
  padding: 3px 7px;
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
}

.card-container {
  background-color: royalblue;
  background: linear-gradient(to top, white 65%, royalblue 35%);
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #5e6169;
  padding-top: 30px;
  position: relative;
  width: 300px;
  /* max-width: 100%; */
  text-align: center;
  margin: 5px;
}

.card-container .round {
  border-radius: 50%;
  border: 5px solid #ffffff;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.3);
}
.button1 {
  background-color: #ffffff;
  border-radius: 10px;
}

.editForm {
  top: 25px;
  z-index: 10;
  position: absolute;
  height: 100vh;
  background-color: grey;
  height: 100px;
  width: 100px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.3);
}
